html {
    Font: 12px "Segoe UI";
}

.theader {
    background-color:#BDBDBD;
    color:#000;
    font-weight: bold;
    cursor: default;
}

td {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.today {
    background-color:#D6D6D6;
    color:#000;
}

.yesterday {
    background-color:#E8E8E8;
    color:#000;
}
